@{
    ViewData["Title"] = "Inquiry Success";
}

<h2>Thank you for your inquiry!</h2>
<p>Your inquiry has been sent successfully. We will get back to you shortly.</p>
@* <a href="/Cars/Index">Back to Cars</a> *@